@* @using AnsibeProject.Models;
@model Ansibe;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers *@
<section class="courses">
    <div class="box-container">
        <a class="inline-btn" asp-action="Add" asp-controller="Home">Create Ansibe</a>
    </div>
</section>