<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="~/lib/css/all.min.css">
    <link rel="stylesheet" href="~/lib/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/css/font.css">
    <link rel="stylesheet" href="~/lib/css/dataTables.css">

    <link rel="stylesheet" href="~/lib/css/sweetalert2.min.css">
    <script src="~/lib/js/sweetalert2.all.min.js"></script>

    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/dataTables.js"></script>
    <script src="~/lib/js/script.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/css/style.css">


</head>

<body>
    <header class="header">

        <section class="flex">


            <a asp-controller="Home" asp-action="Index" class="logo">HOME.</a>
            <a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i><span>home</span></a>
            <a asp-controller="Course" asp-action="Index"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
            <a asp-controller="Professor" asp-action="Index"><i class="fas fa-chalkboard-user"></i><span>professor</span></a>
            <a asp-controller="Create" asp-action="Index"><i class="fas fa-plus"></i><span>Create</span></a>

         
            <div class="icons">
                <div id="menu-btn" class="fas fa-bars" style="display:none;"></div>
                
                <div id="user-btn" class="fas fa-code-compare" style="display:none;"></div>
                <div id="toggle-btn" class="fas fa-sun" onclick="showDarkMode()"></div>
            </div>

           
            </div>

        </section>

    </header>

   
    <div>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>