@using AnsibeProject.Models;
@model Professor;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model != null)
{
    <partial name="_Teacher" model="@Model" />
}

@* <section class="form-container">


    <form asp-controller="ProfessorController" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="text" asp-for="FileNumber" disabled/>
        <h3>Edit Teacher</h3>
        <label asp-for = "FirstName"><span>*</span></label>
        <input type="text" asp-for="FirstName" name="name"  maxlength="50" class="box">
        <span asp-validation-for="FirstName"></span>
        <label asp-for = "MiddleName"><span>*</span></label>
        <input type="text" asp-for="MiddleName" name="middle name"  maxlength="50" class="box">
        <span asp-validation-for="MiddleName"></span>
        <label asp-for = "LastName"><span>*</span></label>
        <input type="text" asp-for="LastName" name="lastName"  maxlength="20" class="box">
        <span asp-validation-for="LastName"></span>
        <label asp-for = "DateOfBirth"><span>*</span></label>
        <input type="date" asp-for="DateOfBirth" name="dateBirth"  class="box">
        <span asp-validation-for="DateOfBirth"></span>
        <label asp-for = "PhoneNumber"><span>*</span></label>
        <input type="number" asp-for="PhoneNumber" name="phone"  maxlength="20" class="box">
        <span asp-validation-for="PhoneNumber"></span>
        <label asp-for = "Email"><span>*</span></label>
        <input type="email" asp-for="Email" name="email"  maxlength="20" class="box">
        <span asp-validation-for="Email"></span>
        <label asp-for = "ContractType"><span>*</span></label>
        <input type="text" asp-for="ContractType" name="conrtract"  maxlength="20" class="box">
        <span asp-validation-for="ContractType"></span>
        <label asp-for = "Speciality"><span>*</span></label>
        <input type="number" asp-for="Speciality" name="speciality"  maxlength="20" class="box">
        <span asp-validation-for="Speciality"></span>
        <label asp-for = "FullNameInArabic"><span>*</span></label>
        <input type="text" asp-for="FullNameInArabic" name="fullname"  maxlength="20" class="box">
        <span asp-validation-for="FullNameInArabic"></span>

        <input type="submit" value="Register !" name="submit" class="btn">
    </form>

</section> *@
