@using AnsibeProject.Models;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-container">


    <form method="post" asp-controller="" asp-action="">

        <label asp-for="AnsibeYear">Ansibe Year</label>
        <input type="text" asp-for="AnsibeYear" placeholder="enter year" class="box">
            
        
    </form>
            
</div>