@using AnsibeProject.Models;
@model Course
@{
    string action = ViewBag.Action ?? string.Empty;
}
<div class="form-container">

    <form method="post" asp-controller="Course" asp-action="@action">
        <h3>@action</h3>
        <div class="text-danger" asp-validation-summary="All"></div>
        <label asp-for="CourseCode"></label>
        @if (action == "Edit")
        {
            <input type="text" asp-for="CourseCode" placeholder="Course Code" class="box" disabled>
        }
        else
        {
            <input type="text" asp-for="CourseCode" placeholder="Course Code" class="box">
        }

        <p class="text-danger" asp-validation-for="CourseCode"></p>
        <label asp-for="CourseDescription"> </label>
        <input type="text" asp-for="CourseDescription" placeholder="Course Description" class="box">
        <p class="text-danger" asp-validation-for="CourseDescription"></p>
        <label asp-for="Semester"> </label>
        <input type="text" asp-for="Semester" placeholder="Semester" class="box">
        <p class="text-danger" asp-validation-for="Semester"></p>
        <div class="special">
            <table class="table">
    <tr>
                    <td>
                        <label asp-for="NumberOfCredits"> </label><br />
                        <input type="number" asp-for="NumberOfCredits" placeholder="Number Of Credits" class="specialbox">
                        <p class="text-danger" asp-validation-for="NumberOfCredits"></p>
                    </td>
                    <td>
                        <label asp-for="NumberOfHours"> </label><br />
                        <input type="number" asp-for="NumberOfHours" placeholder="Number Of Hours" class="specialbox">
                        <p class="text-danger" asp-validation-for="NumberOfHours"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="TP"> </label><br />
                        <input type="number" asp-for="TP" placeholder="TP" class="specialbox">
                        <p class="text-danger" asp-validation-for="TP"></p>
                    </td>
                    <td>
                        <label asp-for="TD"> </label><br />
                        <input type="number" asp-for="TD" placeholder="TD" class="specialbox">
                        <p class="text-danger" asp-validation-for="TD"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="TotalNumberOfHours"> </label><br />
                        <input type="number" asp-for="TotalNumberOfHours" placeholder="Total hours" class="specialbox">
                        <p class="text-danger" asp-validation-for="TotalNumberOfHours"></p>
                    </td>
                    <td>
                        <label asp-for="Major"> </label><br />
                        <select asp-for="Major" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.CourseMajor>()"
                                class="specialbox">
                            <option value="">Course Major</option>
                        </select>
                        <p class="text-danger" asp-validation-for="Major"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="CourseState"> </label><br />
                        <select asp-for="CourseState" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.ActiveState>()"
                                class="specialbox">
                            <option value="">CourseState</option>
                        </select>

                        <p class="text-danger" asp-validation-for="CourseState"></p>
                    </td>
                    <td>
                        <label asp-for="Obligatory"> </label><br />
                        <select asp-for="Obligatory" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.CourseObligatory>()"
                                class="specialbox">
                            <option value="">Obligatory</option>
                        </select>

                        <p class="text-danger" asp-validation-for="Obligatory"></p>
                    </td>
                </tr>

            </table>
            
            
            
           
           

            

           
          
        </div>
        <input type="submit" value="Save" class="btn">
    </form>
</div>