@using AnsibeProject.Models;
@model Course
@{
    string action = ViewBag.Action ?? string.Empty;
}
<div class="form-container">

    <form method="post" asp-controller="Course" asp-action="@action">
        <h3>@action</h3>
        <div class="text-danger" asp-validation-summary="All"></div>
        <label asp-for="CourseCode"></label>
        @if (action == "Edit")
        {
            <input type="text" asp-for="CourseCode" placeholder="Course Code" class="box" readonly>
        }
        else
        {
            <input type="text" asp-for="CourseCode" placeholder="Course Code" class="box">
        }

        <p class="text-danger" asp-validation-for="CourseCode"></p>
        <input type="text" asp-for="CourseDescription" placeholder="Course Description" class="box">
        <p class="text-danger" asp-validation-for="CourseDescription"></p>

        <input type="text" asp-for="Semester" placeholder="Semester" class="box">
        <p class="text-danger" asp-validation-for="Semester"></p>
        <div class="special">
            <input type="text" asp-for="NumberOfCredits" placeholder="Number Of Credits" class="specialbox">
            <p class="text-danger" asp-validation-for="NumberOfCredits"></p>
            <input type="text" asp-for="NumberOfHours" placeholder="Number Of Hours" class="specialbox">
            <p class="text-danger" asp-validation-for="NumberOfHours"></p>
            <input type="text" asp-for="TP" placeholder="TP" class="specialbox">
            <p class="text-danger" asp-validation-for="TP"></p>
            <input type="text" asp-for="TD" placeholder="TD" class="specialbox">
            <p class="text-danger" asp-validation-for="TD"></p>
            <input type="text" asp-for="TotalNumberOfHours" placeholder="Total hours" class="specialbox">
            <p class="text-danger" asp-validation-for="TotalNumberOfHours"></p>
            <select asp-for="Major" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.CourseMajor>()"
                    class="specialbox">
                <option value="">Course Major</option>
            </select>

            <p class="text-danger" asp-validation-for="Major"></p>

          
            <select asp-for="CourseState" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.ActiveState>()"
                    class="specialbox">
                <option value="">Course State</option>
            </select>

            <p class="text-danger" asp-validation-for="CourseState"></p>
           
            <select asp-for="Obligatory" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.CourseObligatory>()"
                    class="specialbox">
                <option value="">Obligatory</option>
            </select>

            <p class="text-danger" asp-validation-for="Obligatory"></p>
        </div>
        <input type="submit" value="Save" class="btn">
    </form>
</div>