@using AnsibeProject.Models;
@model Course
@{
    string action = ViewBag.Action ?? string.Empty;
}
<div class="form-container">

    <form method="post" asp-controller="Course" asp-action="@action">
        <h3>@action</h3>
        <div class="text-danger" asp-validation-summary="All"></div>

        <label asp-for="CourseCode">Course Code &nbsp;&nbsp;</label><label><span asp-validation-for="CourseCode"></span></label>
        @if (action == "Edit")
        {
            <input type="text" asp-for="CourseCode" placeholder="Course Code" class="box" readonly>
        }
        else
        {
            <input type="text" asp-for="CourseCode" placeholder="Course Code" class="box">
        }

        
        <label asp-for="CourseDescription">Course Description &nbsp;&nbsp;</label><label> <span asp-validation-for="CourseDescription"></span></label>
        <input type="text" asp-for="CourseDescription" placeholder="Course Description" class="box">
       
        <label asp-for="Semester">Semester &nbsp;&nbsp;</label><label><span asp-validation-for="Semester"></span></label>
        <input type="number" asp-for="Semester" placeholder="Semester" class="box">
        
        <div class="special">
            <table class="table">
    <tr>
                    <td>
                        <label asp-for="NumberOfCredits">Number Of Credits &nbsp;&nbsp;</label><label> <span asp-validation-for="NumberOfCredits"></span></label><br />
                        <input type="number" asp-for="NumberOfCredits" placeholder="Number Of Credits" class="specialbox">
                       
                    </td>
                    <td>
                        <label asp-for="NumberOfHours">Course Hours &nbsp;&nbsp;</label><label> <span asp-validation-for="NumberOfHours"></span></label><br />
                        <input type="number" asp-for="NumberOfHours" placeholder="Number Of Hours" class="specialbox">
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="TP">TP Hours &nbsp;&nbsp;</label><label><span asp-validation-for="TP"></span></label><br />
                        <input type="number" asp-for="TP" placeholder="TP" class="specialbox">
                        
                    </td>
                    <td>
                        <label asp-for="TD">TD Hours &nbsp;&nbsp;</label><label><span asp-validation-for="TD"></span></label><br />
                        <input type="number" asp-for="TD" placeholder="TD" class="specialbox">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="TotalNumberOfHours">Total Number Of Hours &nbsp;&nbsp;</label> <label><span asp-validation-for="TotalNumberOfHours"></span></label><br />
                        <input type="number" asp-for="TotalNumberOfHours" placeholder="Total hours" class="specialbox">
                        
                    </td>
                    <td>
                        <label asp-for="Major">Course Major &nbsp;&nbsp;</label><label><span asp-validation-for="Major"></span></label><br />
                        <select asp-for="Major" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.CourseMajor>()"
                                class="specialbox">
                            <option value="">Course Major</option>
                        </select>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="CourseState">Course State &nbsp;&nbsp;</label><label> <span asp-validation-for="CourseState"></span></label><br />
                        <select asp-for="CourseState" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.ActiveState>()"
                                class="specialbox">
                            <option value="">CourseState</option>
                        </select>

                       
                    </td>
                    <td>
                        <label asp-for="Obligatory">Obligatory &nbsp;&nbsp;</label><label><span asp-validation-for="Obligatory"></span></label><br />
                        <select asp-for="Obligatory" asp-items="Html.GetEnumSelectList<AnsibeProject.Models.CourseObligatory>()"
                                class="specialbox">
                            <option value="">Obligatory</option>
                        </select>

                        
                    </td>
                </tr>

            </table>
           
          
        </div>
        <input type="submit" value="Save" class="btn">
    </form>
</div>