@using AnsibeProject.Models;
@model Course;

@if(Model!=null){
    @foreach(var course in Model){
        <div class="box-container">
            <div class="box">
                <div class="info">
                    <h3>Agebre bilinearia</h3>
                    <span>I400</span>
                </div>
                <table class="table table-striped">
                    <tr>
                        <td>
                            course Major: Info
                        </td>
                        <td>
                            credits: 6
                        </td>
                    </tr>
                    <tr>
                        <td>
                            credits: 6
                        </td>
                        <td>
                            course hours: 36
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TP: 36
                        </td>
                        <td>
                            TD: 35
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total hours: 71
                        </td>
                        <td>
                            semester: 7
                        </td>
                    </tr>
                    <tr>
                        <td>
                            couse state: opened
                        </td>

                        <td>
                            Prerquist: yes
                        </td>
                    </tr>
                </table>
                <a href="#" class="inline-btn">edit course</a>
            </div>
        </div>
    }
}